<!doctype html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://getbootstrap.com/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Booking Appointment</title>

    <link rel="canonical" href="index.html">

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/carousel.css" rel="stylesheet">

    <link href="css/style.css" rel="stylesheet" />
    <link href="css/font-awesome.min.css" rel="stylesheet" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/css/select2.min.css" rel="stylesheet" />

    <style>
        .fa {
            font-size: 16px;
        }
        
        .faicon .fa {
            font-size: 32px;
            padding-top: 50px;
        }
        
        .faicon b {
            color: #949494
        }
        
        .faicon a {
            color: #337ab7
        }
        
        .nav-item {
            border-top: 3px solid transparent;
        }
        
        .active {
            border-top: 3px solid #1ab394 !important;
        }
        
        .navbar-brand {
            font-size: 40px;
            font-family: 'Times, Times New Roman, Georgia, serif';
        }
        
        .dashboard-header img {
            width: 100%;
        }
        
        .dashboard-header.row {
            margin: 0 !important
        }
        
        .closeButton {
            font-size: 20px;
            text-align: center;
            cursor: pointer;
        }
    </style>

</head>

<body>

    <div id="app">
        <header class="bg-black  fixed-top">
            <nav class="container navbar navbar-expand-md navbar-dark">
                <a class="navbar-brand" href="#"><img :src="'img/landing/' + booking_url + '/' + 'logo1.png'"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse" style="flex-direction: column;">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#prenota">Prenota</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#chi">Chi siamo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#dove">Dove siamo</a>
                        </li>
                    </ul>
                    <div id="htk" class="header_tk  ml-auto" style="float: right; color: #FFFFFF;">
                        <h3>
                            <i class="fa fa-phone ng-binding">&nbsp;&nbsp;{{homepageInfo.address4}}</i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-envelope-o ng-binding">&nbsp;&nbsp;{{homepageInfo.address5}}</i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-map-marker ng-binding">&nbsp;&nbsp; {{homepageInfo.address3}}</i></h3>
                    </div>

                </div>
            </nav>
        </header>

        <main role="main" id="home">

            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="index" :class="{ 'active': index === 0 }" v-for="(p, index) in slider_image"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item" :class="{ 'active': index === 0 }" v-for="(p, index) in slider_image">
                        <img class="first-slide" :src="'img/landing/' + booking_url + '/slider/' + p" alt="First slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>


            <!-- Marketing messaging and featurettes
      ================================================== -->
            <!-- Wrap the rest of the page in another container to center all the content. -->





            <div class="container" id="prenota" style="padding-top: 100px;">
                <div class="row" style="margin-top: 50px;">
                    <div class="col-md-12 text-center">
                        <h1 class="text-center">PRENOTA APPUNTAMENTO</h1>
                        <div v-for="(p,index) in services" :key="p.id">
                            <div class="ibox-title" @click="isVisible = !isVisible" style="cursor: pointer;">
                                <p class="ng-binding" style="text-transform: capitalize;"><img src="img/scissors.jpg" height="27" width="27" src="/img/scissor.jpg">&nbsp; {{index}}</p>
                                <div ibox-tools="" class="ng-scope">
                                    <div class="ibox-tools dropdown" uib-dropdown="">
                                    </div>
                                </div>
                            </div>
                            <div class="outer-form" v-if="isVisible">
                                <table class="table table-bordered table-hover vertical">
                                    <tbody id="allservices" v-for="q in p" style="border:1px solid transparent; background-color:white; color:black; text-align: left;">
                                        <tr>
                                            <td class="mainsection">
                                                <p>{{q.name}}</p>
                                                <p v-if="homepageInfo.mostra_prezzi_listino == 1" style="font-size:13px">Prezzo da: {{ parseFloat(q.standard_sell_price).toFixed() }} €</p>
                                            </td>
                                            <td><label class="switch"><input type="checkbox"
                                                           data-toggle="collapse"
                                                           v-model="q.toggle"
                                                           @change="!q.toggle"
                                                           v-bind:data-type="index"
                                                           v-bind:data-name="q.name"
                                                           v-bind:data-id="q.id_service"
                                                           v-bind:data-target="'#accordion-' + q.id_service"
                                                           class="clickable"><span class="slider round"></span></label></td>
                                        </tr>
                                        <tr v-if="q.toggle == true" style="background-color: #e7e7e7;">
                                            <td colspan="6">
                                                <div style="padding: 30px" v-bind:id="'accordion-' + q.id_service" v-bind:data-name="q.name" v-bind:data-id="q.id_service" v-bind:data-duration="q.worker_duration" v-bind:data-dependency="q.service_dependence" class="drop"><select class="e1" style="width: 100%" v-bind:data-pd="q.id_service" v-bind:id="'select2-' + q.id_service">
                                                        <option value="0">Indifferente</option>
                                                    </select></div>
                                            </td>
                                        </tr>
                                    </tbody>


                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="selected_services hide">
                <div class="container">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h5>Riepilogo</h5>
                            <!-- <p> </p> -->
                        </div>
                        <div class="d-flex">
                            <h3 class="service_price"></h3>
                        </div>
                    </div>
                    <div style="display: inline-block;
                overflow-y: scroll;
                max-height: 92px;
                width: 100%;
                padding: 0 50px 0 0;">
                        <table class="w-100">
                            <tbody id="selected_services_tr">

                            </tbody>
                        </table>
                    </div>
                    <button class="btn btn-block btn-dark next_page" style="margin: 30px 0;">PRENOTA</button>
                </div>
            </div>


            <section class=" pb-5" id="chi" style="padding-top: 100px;">



                <div class="row  no-borders white-bg dashboard-header" style="position: relative;">
                    <div class="col-lg-12 text-center">
                        <div class="ibox-content">
                            <div class="default-line"></div>
                            <h1 style="font-size: 30px;">GLAMOUR, ALL'ULTIMA MODA E UNICI...<br>UNICI COME TE!</h1>
                            <p style="padding: 10px 0 40px;">{{homepageInfo.description2}}</p>
                        </div>
                    </div>

                </div>

                <div class="row no-borders black-bg dashboard-header" style="padding: 20px 20px 20px 20px; background-color: #262626;">
                    <div class="col-12 col-md-3">
                        <img class="img_tk" :src="'img/landing/' + booking_url + '/' + 'collection_01.jpg'">
                    </div>
                    <div class="col-12 col-md-3">
                        <img class="img_tk" :src="'img/landing/' + booking_url + '/' + 'collection_02.jpg'">
                    </div>
                    <div class="col-12 col-md-3">
                        <img class="img_tk" :src="'img/landing/' + booking_url + '/' + 'collection_03.jpg'">
                    </div>
                    <div class="col-12 col-md-3">
                        <img class="img_tk" :src="'img/landing/' + booking_url + '/' + 'collection_04.jpg'">
                    </div>
                </div>

            </section>

            <section class="pb-5" id="dove" style="padding-top: 100px;">



                <div class="row  no-borders white-bg dashboard-header" style="position: relative;">
                    <div class="col-lg-12 text-center">
                        <div class="ibox-content">
                            <div class="default-line"></div>
                            <h1 style="font-size: 60px;"><img style="height: 60px;object-fit: contain;" :src="'img/landing/' + booking_url + '/' + 'logo2.png'"></h1>
                            <p style="padding: 10px 0 40px;">
                                {{homepageInfo.description}}</p>
                        </div>
                    </div>

                </div>

                <div class="row no-borders black-bg dashboard-header" style="padding: 20px 20px 20px 20px; background-color: #262626;">
                    <div class="col-12">
                        <img class="img_tk" :src="'img/landing/' + booking_url + '/' + 'team.jpg'">
                    </div>
                </div>


                <div class="container faicon">
                    <div class="row">
                        <div class="col-lg-4 text-center">
                            <h2>
                                <i class="fa fa-phone"> </i><br><br>
                                <font style="font-family: Verdana, Georgia, Serif  , Courier, monospace;"><b>TELEFONO</b><br></font>
                                <a ng-href="tel:123456478" class="ng-binding" href="tel:123456789   ">{{homepageInfo.address4}}</a><br><br>
                            </h2>
                        </div>
                        <div class="col-lg-4 text-center">
                            <h2 class="ng-binding">
                                <i class="fa fa-map-marker"> </i><br><br>
                                <font style="font-family: Verdana, Georgia, Serif  , Courier, monospace;"><b>Indirizzo</b></font><br> {{homepageInfo.address3}}
                            </h2>
                        </div>
                        <div class="col-lg-4 text-center">
                            <h2>
                                <i class="fa fa-envelope-o"> </i><br><br>
                                <font style="font-family: Verdana, Georgia, Serif  , Courier, monospace;"><b>EMAIL</b><br></font>
                                <a class="ng-binding" v-bind:href="'mailto:' + homepageInfo.address5">{{homepageInfo.address5}}</a><br><br>
                            </h2>
                        </div>
                    </div>
                </div>

                <div class="container faicon" v-if="homepageInfo.mostra_dove_siamo == 1">
                    <div class="row">
                        <div class="col-12 text-center">
                            <iframe style="width: 100%" width="600" height="450" frameborder="0" style="border:0" :src="homepageInfo.map_link" allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                </div>



            </section>

            <!-- FOOTER -->
            <footer class="container">
                <p class="float-right"><a href="#">Back to top</a></p>
                <p>&copy; 2017-2018 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
            </footer>
        </main>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/popper.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="js/holder.min.js"></script>


    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

</body>

</html>

<script>
    $(document).on('click', '.nav-link', function() {
        $(".nav-item").removeClass('active')
        $(this).parent('.nav-item').addClass('active')

    })



    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!',
            services: [],
            isVisible: true,
            isVisible1: true,
            homepageInfo: [],
            booking_url: 0,
            slider_image: []
        },
        mounted() {

            console.log(window.location.search.replace('?id=', ''))

            if (window.location.search == "") {
                alert("ID Param Missing")
            } else {

                this.booking_url = window.location.search.replace('?id=', '')
                this.getBookingurl()
            }



        },
        methods: {


            getHomepageInfo: function() {

                $.ajax({
                    type: "GET",
                    dataType: "json",
                    url: 'api.php?getHomepageInfo=getHomepageInfo',
                    success: function(response) {
                        console.log(response)
                        app.homepageInfo = response
                    },
                    error: function(response) {
                        console.log(response);
                    }
                });


            },

            getBookingurl: function() {

                console.log(this)

                $.ajax({
                    type: "GET",
                    dataType: "json",
                    url: 'api.php?init_db=init_db&booking_url=' + this.booking_url,
                    success: function(response) {
                        console.log(response)
                        $.cookie('init_db', app.booking_url)
                        app.slider_image = response['files']
                        app.getHomepageInfo()

                        $.ajax({
                            type: "GET",
                            dataType: "json",
                            url: 'api.php?getAllServices=getAllServices',
                            data: $(this).serialize(),
                            success: function(response) {
                                console.log(response)
                                all_service = response
                                app.services = response
                                    // var d1 = document.getElementById('allservices');

                                // for (var i = 0; i < response['parrucchiere'].length; i++) {

                                //     d1.insertAdjacentHTML('beforeend', ' <tr><td class="mainsection"><p>' + response[i].name + '</p><p style="font-size:13px">Prezzo da: ' + parseFloat(response[i].standard_sell_price).toFixed(2) + ' €</p></td><td><label class="switch"><input type="checkbox" data-toggle="collapse" data-name="' + response[i].name + '" data-id="' + response[i].id_service + '" data-target="#accordion-' + response[i].id_service + '"class="clickable"><span class="slider round"></span></label></td></tr><tr><td colspan="6"><div id="accordion-' + response[i].id_service + '" data-name="' + response[i].name + '" data-id="' + response[i].id_service + '" data-duration="' + response[i].worker_duration + '" data-dependency="' + response[i].service_dependence + '" class="drop collapse"><select class="e1" style="width: 100%" data-pd="' + response[i].id_service + '" id="select2-' + response[i].id_service + '"><option value="0">Indifferente</option></select></div></td></tr>');

                                // }


                            },
                            error: function(response) {
                                // alert(response.responseJSON.message);
                            }
                        });

                    },
                    error: function(response) {
                        console.log(response);
                        alert(JSON.parse(response.responseText).message)
                    }
                });


            }



        }
    })



    // window.localStorage.clear();
    // document.cookie.split(";").forEach(function(c) {
    //     document.cookie = c.replace(/^ +/, "").replace(/=.*/, "=;expires=" + new Date().toUTCString() + ";path=/");
    // });
    var section_id = 0
    var all_service = []
    var selected_service = []
    var selected_sum = 0
    var selected_service_array = []

    $(document).ready(function() {
        $(".e1").select2();
    });




    $(document).on('change', '.clickable', function() {

        console.log($(this).data('id'))
        var section_id = $(this).data('id')
        var section_name = $(this).data('name')
        var type = $(this).data('type')

        console.log(type)


        if ($(this).prop('checked') == true) {


            // $('.clickable').not('.collapsed').click()

            $.ajax({
                type: "GET",
                dataType: "json",
                url: 'api.php?getServiceIDBasedEmployees=getServiceIDBasedEmployees&service_id=' + $(this).data('id'),
                data: $(this).serialize(),
                success: function(response) {
                    console.log(response)
                    console.log(section_id)
                    console.log('select2-' + section_id)
                    var d1 = document.getElementById('select2-' + section_id);

                    $.cookie('service', section_id)
                    $.cookie('service_name', section_name)


                    if (app.homepageInfo.mostra_seleziona_lavorante == 1) {



                        for (var i = 0; i < response.length; i++) {

                            d1.insertAdjacentHTML('beforeend', '<option value="' + response[i].id_employee + '">' + response[i].employee_first_name + " " + response[i].employee_last_name[0] + '.</option>');

                        }
                    }
                    $(".e1").select2();

                    selected_service.push(section_id)

                    console.log(section_id)

                    selected_sum = selected_sum + parseFloat(all_service[type].filter(v => v.id_service == section_id)[0].standard_sell_price)

                    temp = all_service[type].filter(v => v.id_service == section_id)[0]

                    selected_service_array.push(temp)

                    if (app.homepageInfo.mostra_prezzo_finale == 1) {
                        $(".service_price").html(selected_sum + " €")
                    }



                    $(".selected_services").removeClass('hide')

                    $("#selected_services_tr").empty()

                    var d2 = document.getElementById('selected_services_tr');


                    for (var i = 0; i < selected_service_array.length; i++) {

                        if (app.homepageInfo.mostra_prezzi_listino == 0) {

                            d2.insertAdjacentHTML('beforeend', '<tr class="tr--select2-' + selected_service_array[i].id_service + '"><td>' + selected_service_array[i].name + '<br><p class="emp_name">Employee: Indifferente</p></td><td></td><td class="closeButton" onclick="deleteSelected(' + selected_service_array[i].id_service + ')">X</td></tr>');

                        } else {

                            d2.insertAdjacentHTML('beforeend', '<tr class="tr--select2-' + selected_service_array[i].id_service + '"><td>' + selected_service_array[i].name + '<br><p class="emp_name">Employee: Indifferente</p></td><td>' + parseFloat(selected_service_array[i].standard_sell_price).toFixed(2) + '</td><td class="closeButton" onclick="deleteSelected(' + selected_service_array[i].id_service + ')">X</td></tr>');
                        }


                    }





                    if (selected_service.length > 1) {


                        $(".selected_services").css("background-color", "#43c4ff")

                    } else {

                        $(".selected_services").css("background-color", "#03a9f4")
                    }


                }
            });


        } else {

            selected_service = selected_service.filter(v => v != $(this).data('id'))

            selected_service_array = selected_service_array.filter(v => v.id_service != $(this).data('id'))

            selected_sum = selected_sum - parseFloat(all_service[type].filter(v => v.id_service == $(this).data('id'))[0].standard_sell_price)

            if (app.homepageInfo.mostra_prezzo_finale == 1) {
                $(".service_price").html(selected_sum + " €")
            }

            if (selected_service.length == 0) {
                $(".selected_services").addClass('hide')

            }

            $("#selected_services_tr").empty()

            var d2 = document.getElementById('selected_services_tr');


            for (var i = 0; i < selected_service_array.length; i++) {

                d2.insertAdjacentHTML('beforeend', '<tr class="tr--select2-' + selected_service_array[i].id_service + '"><td>' + selected_service_array[i].name + '<br><p class="emp_name">Employee: Indifferente</p></td><td>' + parseFloat(selected_service_array[i].standard_sell_price).toFixed(2) + '</td><td class="closeButton" onclick="deleteSelected(' + selected_service_array[i].id_service + ')">X</td></tr>');

            }

            if (selected_service.length > 1) {


                $(".selected_services").css("background-color", "#43c4ff")

            } else {

                $(".selected_services").css("background-color", "#03a9f4")
            }

        }


    })


    function deleteSelected(id) {

        console.log("xxxz")
        console.log(id)
        $('input[data-target="#accordion-' + id + '"]').click()

    }



    $(document).on('change', '.e1', function() {


        var d2 = document.getElementById('selected_services_tr');

        select_id = this.id

        id = $(this).data('pd')

        console.log(id)

        for (var i = 0; i < selected_service_array.length; i++) {


            var d1 = document.getElementById('select2-' + section_id)

            var b = selected_service_array.filter(v => v.id_service == id)[0]
            console.log(b)

            if (selected_service_array.filter(v => v.id_service == id).length == 1) {

                $(".tr--" + select_id + " .emp_name").empty()

                // $(".tr--" + select_id + " p").empty()

                $(".tr--" + select_id + " .emp_name").html("Employee: " + $("#" + select_id).find(":selected").text())

                console.log("hererhere")
                console.log(i)
                    // console.log(selected_service_array[i])

                // d2.insertAdjacentHTML('beforeend', '<tr class="tr--select2-' + b.id_service + '"><td>' + b.name + '<br><p class="emp_name">Employee: ' + $("#" + select_id).find(":selected").text() + '</p></td><td>' + parseFloat(b.standard_sell_price).toFixed(2) + '</td></tr>');

                break;

            }


        }

    })


    function dependency_reorder(arr) {

        var a = []

        for (i = 0; i < arr.length; i++) {

            if (arr[i].service_dependence != undefined) {
                if (arr[i].service_dependence.length != 0) {

                    dep = arr[i].service_dependence.replace(/ /g, '').split(",")


                    for (j = 0; j < dep.length; j++) {

                        console.log("all_service")
                        console.log(all_service)


                        if (all_service.filter(v => v.id_service == dep[j]).length != 0) {
                            var b = all_service.filter(v => v.id_service == dep[j])[0]
                            console.log("b")
                            console.log(b)
                            b['emp'] = arr[i].emp

                            a.push(all_service.filter(v => v.id_service == dep[j])[0])



                        } else {
                            console.log(arr[i].service_dependence)
                            alert("Dependent Service not found. Please check if the id_service has the correct value")
                                // break;

                        }


                    }

                }
            }


            a.push(arr[i])

        }

        console.log("returned")
        return a;

    }

    $(".next_page").click(function() {

        // console.log($("#select2-" + $.cookie('service')).val())

        var arr = []

        if (selected_service.length != 0) {

            console.log("selected_service")
            console.log(selected_service)

            for (i = 0; i < selected_service.length; i++) {

                var temp = {}
                console.log($("#accordion-" + selected_service[i]))
                console.log($("#accordion-" + selected_service[i]).data('name'))
                temp['emp'] = $("#accordion-" + selected_service[i]).children('.e1').val()

                console.log("temp")
                console.log(temp)

                console.log(arr)
                if (arr.filter(v => v.emp == temp['emp']).length == 0 || arr.filter(v => v.emp == temp['emp'] == 0)) {

                    temp['name'] = $("#accordion-" + selected_service[i]).data('name')
                    temp['id_service'] = $("#accordion-" + selected_service[i]).data('id')
                    temp['worker_duration'] = $("#accordion-" + selected_service[i]).data('duration')
                    temp['service_dependence'] = $("#accordion-" + selected_service[i]).data('dependency')

                    arr.push(temp)

                    console.log("arrattt")
                    console.log(arr)

                }




            }


            console.log(arr)

            arr = dependency_reorder(arr)

            console.log(arr)
            $.cookie('emp', JSON.stringify(arr))
            $.cookie('selected_service_array', JSON.stringify(selected_service_array))

            window.location.href = "appointment.html"


        }



    })
</script>